*, *::after, *::before {
    box-sizing: border-box;
}
body {
    background-color: rgb(211, 211, 211);
    margin: 0;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3em;
    padding: 1em;
}

section {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.board {
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    border: 1px solid #fff;
    gap: 5px;
    border-radius: 2px;

}

.num {
    border: 1px solid #fff;
    border-radius: 2px;

}

.winNum {
    background-color: rgb(43, 43, 43);
    color: white;
    transition: 0.5s;
}